.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input,
.form select {
  margin: 10px;
  padding: 7px;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form input[type="text"] {
  min-width: 300px;
}
.form input[type="submit"] {
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .form {
    display: block;
  }
  .form input {
    width: 90%;
  }
  .radioBtns {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .radioBtns input[type="radio"] {
    margin: 4px 7px;
    display: flex;
  }
}
