.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.mainTitle {
    text-transform: uppercase;
    margin: 40px 0;
    font-size: 30px;
    letter-spacing: 4px;
    color: grey;
}
.cards {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cards a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 480px) {
    .cards {
        flex-direction: column;
        height: auto;
        justify-content: center;
    }
}
