.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .info {
    margin-top: 20px;
  }
  
  .info h1 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
  }
  
  .info  p  {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    line-height: 1.4;
  }
  
  .info p:first-child {
    font-weight: 500;
  }
  .plotText {
    padding: 10px;
    max-width: 600px;
    word-wrap: break-word;
    line-height: 25px;
    color: #666;
  }
  .posterWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  .posterImg {
    min-width: 300px;
    max-width: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .ratingsContiner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .ratingsContiner div {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .ratingsContiner img {
    margin-right: 15px;
  }
  
  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .info {
      margin-left: 30px;
      margin-top: 0;
    }
  }
  