.footer {
  position: relative;
  background-color: #1f1f1f;
  padding: 20px 5px;
  color: #fff;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer .col {
  flex-basis: 48%;
}

.footer .col p {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.4;
}

.footer .socialIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer .socialIcons li {
  list-style: none;
  margin-right: 10px;
}

.footer .socialIcons li:last-child {
  margin-right: 0;
}

.footer .socialIcons a {
  display: inline-block;
  width: 30px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  transition: all 0.2s ease;
}

.icon {
  color: white;
  font-size: 28px;
}
.icon:hover {
  font-size: 32px;
  transition: all 0.2s ease;
  
}

.footer .copy {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  color: #acacac;
}
