/* Footer container */
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #6c6c6c;
    color: #fff;
    padding: 20px;
  }
  
  /* Footer links */
  .footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Footer links on hover */
  .footer a:hover {
    text-decoration: underline;
  }
  
  /* Footer text */
  .footer p {
    margin: 0;
  }
  
  /* Footer heading */
  .footer h3 {
    margin-top: 0;
  }
  