.container {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: red;
}
.container a {
    margin-top: 20px;
    text-decoration: none;
    font-size: 3vw;
    color: rgb(149, 149, 149);
}
.container a:hover {
    font-weight: 600;
}
.mainTitle {
    font-size: 10vw;
}
.title {
    font-size: 3vw;
}